node_modules/
.expo/
npm-debug.*
.firebaserc
database.rules.json
firebase.json
functions/
public/
.idea/
react-native-packager-cache-d48775a1/
haste-map-react-native-packager-60c3ba52c1dc16f22f71652c1d02f2db
haste-map-react-native-packager-b12fedaabd009bd78e5c86bb3b125838
c2478188a17af4e228eb5b8b09baf5fd